.content{
  background-color: rgba(246, 247, 248, 1);
  border-radius: 32px 0 0;
  height: 100dvh;
}

.transparent_btn{
    background: transparent;
    height: 60px;
    width: 200px;
    color: rgba(26, 26, 26, 1);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    border: 1px solid rgba(26, 26, 26, 1);
    padding: 16px 24px;
    text-decoration: none !important;
}

.transparent_btn:hover{
     background: rgba(26, 26, 26, 1);
    color: #fff;
}
.blue_btn{
    background: rgba(62, 53, 223, 1);
    height: 60px;
    width: 200px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    border: 1px solid rgba(62, 53, 223, 1);
    padding: 16px 24px;
    text-decoration: none !important;
}

.blue_btn:hover{
    background: transparent;
    color: rgba(62, 53, 223, 1);
}

.cursor-pointer {
  cursor: pointer;
}